<%if !signed_in? %>
<div class="center hero-unit">
  <h1>Welcome to Snap</h1>

  <%= link_to "Log in with Facebook", "/auth/facebook", 
  class: "btn btn-large btn-primary" %>
  <%= link_to "Log in with Twitter", "/auth/twitter", 
  class: "btn btn-large btn-primary" %>
</div>

<%else%>
<div class="span6 offset3">
  <%Notification.order("created_at DESC").each do |noti| %>
  <% if noti.target_id == current_user.id %>
  <% if noti.relation_type == "user_user_relationships" %>
  <li>
    <%= link_to User.find(noti.source_id).name, user_path(User.find(noti.source_id)) %> followed you
  </li>
  <%else%> <% if noti.relation_type.to(22) == "user_photo_actions like" %>
  <li>
    <% photo_id = noti.relation_type.from(24) %>
    <% photo = Photo.find(photo_id) %>
    <%= link_to User.find(noti.source_id).name, user_path(User.find(noti.source_id)) %>
    like your <%= link_to "#{photo.name} photo", photo_path(photo) %>
  </li>
  <%else%> <% if noti.relation_type.to(15) == "user_box_follows" %>

  <% box_id = noti.relation_type.from(17) %>
  <% box = Box.find(box_id) %>
  <li>
    <%= link_to User.find(noti.source_id).name, user_path(User.find(noti.source_id)) %> 
    follow your <%= link_to "#{box.name} box", box_path(box) %>
  </li>
  <%end%>
  <%end%>


  <%end%>
  <% else %> 
<!--   <div>
    <%= User.find(noti.source_id).name %> <%= noti.relation_type %> 
    <%= User.find(noti.target_id).name %> 
  </div>
 --> 
  <%end%>
  <%end%>
  <%= link_to 'Send Request to your friends', '#', :id => :app_request %>

  <html xmlns:fb="http://www.facebook.com/2008/fbml">
  <body>
    <script src="http://connect.facebook.net/en_US/all.js"></script>
    <div id="fb-root"></div>
    <script>
      // assume we are already logged in
      FB.init({appId: <%= GRAPH_APP_ID %>, xfbml: true, cookie: true});

      $('#app_request').click(function () {
        FB.ui({
          method: 'apprequests',
          message: 'try out this app http://0.0.0.0:3000/',
        });
        return false;
      });
      </script>
    </body>
    </html>
    <%end%>
  </div>
