
<%= render :partial => 'pin_bar' %>

<div id="ColumnContainer" style="margin-left: 7%">
  <ul class="sortable">
    <% @user.boxes.each do |box| %>
      <li>
    <div class="pin pinBoard">
      <h3 class="serif"><a href="/boxes/<%="#{box.id}"%>"><%="#{box.name}"%></a></h3>
      <h4>
        <%=box.photos.count%> pin
      </h4>
      <div class="board">
        <a href="/boxes/<%="#{box.id}"%>" class="link">&nbsp;</a>
        <div class="holder">
          <span class="cover">
            <%if box.photos.first.nil? %>
              <img src= "" style="opacity: 1; " onload="this.style.opacity=1" onerror="this.src = this.src.replace('_222.jpg', '_b.jpg'); this.onerror = null; return false;">
            <%else%>
                <img src="<%= "#{box.photos.first.source}"%>" style="opacity: 1; " onload="this.style.opacity=1" onerror="this.src = this.src.replace('_222.jpg', '_b.jpg'); this.onerror = null; return false;">
              <%end%>
          </span>
          <span class="thumbs">
            <span class="empty"></span>
            <span class="empty"></span>
            <span class="empty"></span>
            <span class="empty"></span>
          </span>
        </div>
        <div class="followBoard">
          <a href="/boxes/<%="#{box.id}"%>"  class="Button13 Button WhiteButton InlineButton">Edit</a>
        </div>
      </div>
    </div>
    </li>
  <%end%>
  </ul>

</div>
