<h5 class="lead"><%= photo.name %></h5>
<div class="show-image">
	<% if photo.image_remote_url.nil? %>
	<img src="<%=photo.image.url%>" data-toggle = "modal" href="#myModal">
	<% else %>
	<%= image_tag photo.source %>
	<% end %>
	<div class="btn-group ">
		<a class="btn btn-small" href="#"><i class="icon-zoom-in"></i></a>
		<a class="btn btn-small" href="<%= edit_photo_path(photo) %>"><i class="icon-edit"></i></a>
		<a href="/photos/1" class="btn btn-small" data-confirm="You sure?" data-method="delete" rel="nofollow"><i class="icon-trash"></i></a>
		<a class="btn btn-small" href="#"><i class="icon-warning-sign"></i></a>
	</div>
</div>

<div class="modal hide" id="myModal">
	<div class="modal-body"> 
		<%= image_tag(photo.image.url,align: "center")%>
		<p align="center"> My content </p>
	</div>	
	<div class="modal-footer">
		<button class="btn btn-success btn-large" href="#"><b color= "white">LIKE ME!</b></button>
	</div>
</div> 

<script type="text/javascript">
jQuery(function() {                                              // <== Doc ready

    jQuery(".btn-group").hide();                  // Initially hide all buttons

    jQuery('.show-image').hover(function() {
         jQuery(this).find('.btn-group').show();         // use .find() !
    }, function() {
        jQuery(this).find('.btn-group').hide();         // use .find() !
    });
});
</script>

