<div style="margin-left: 30px;">
  <div class="page-header">
    <%if current_user?(@user) %>
      <h1>
        <%= link_to " E d i t ", edit_box_path(@box), class: "btn btn-primary btn-large"%>
        <%= @box.name %>
      </h1>
    </div>
  <% else %>
    <div class="page-header">
      <h1>
        Author: <%= @user.name %>
    </h1>
  </div>
  <div class="row center" style="margin-bottom: 20px;">
    <%= render 'follow_box_form', :@box => @box if @box.id != nil%>
  </div>
<%end%>
<section class="content">
  <%= render :partial => 'photos/photo_paginate' %>
</section>
</div>

