<% provide(:title, 'Upload') %>
<h1>Upload</h1>
<div class="row">
  <div class="span6 offset3">
    <h3><%= link_to "Upload via URL", upload_url_path %></h3>
    <h3><% if current_user.authentications.find_by_provider('facebook').nil? %>
          <%= link_to "Upload via Facebook", "/auth/facebook"%>
      <% else %>
          <%= link_to "Upload via Facebook", upload_facebook_path %>
      <% end %>
    </h3>
      
      <br>
    <%= form_for @photo, :html => { multipart: true } do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    	<%= f.label :box_id %><br />
    	<%= f.collection_select :box_id, current_user.boxes.all, :id, :name %>

    	<%= f.label :name %>
        <%= f.text_field :name %>

        <%= f.label :description %>
        <%= f.text_area :description, rows: 10 %>

        <%= f.file_field :image %>
        <%= f.submit "UPLOAD", class: "btn btn-large btn-primary" %>
      <% end %>
  </div>
</div>