<% provide(:title, 'Upload via URL') %>
<h1>Upload via URL</h1>
<div class="row center">
    <%= form_for @photo, :html => { multipart: true } do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    	<%= f.label :box_id %><br />
    	<%= f.collection_select :box_id, current_user.boxes.all, :id, :name %>

    	<%= f.label :name %>
        <%= f.text_field :name %>

        <%= f.label :description %>
        <%= f.text_area :description, rows: 3 %>

        URL: <%= f.text_field :image_url %>

        <br>
        <%= f.submit "UPLOAD", class: "btn btn-large btn-primary" %>
      <% end %>
</div>
