<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <nav>
        <form class="navbar-search"action="/search" method="post">
          <input type="text" class="search-query" name="search" placeholder="Search">
        </form>
        <ul class= "nav" style="left: 30%;">
            <%= link_to "SNAP", root_path, id: "logo" %>
          </ul>
        <ul class="nav pull-right" style="margin-right: 30px;">
          <li><%= link_to "Home", root_path %></li>
          <% if signed_in? %>

            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="icon-upload"></i> Upload <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Upload via PC", upload_pc_path %></li>
                <li><%= link_to "Upload via URL", upload_url_path %></li>
                <% if current_user.authentications.find_by_provider('facebook').nil? %>
                  <%= link_to "Upload via Facebook", "/auth/facebook"%>
                <% else %>
                  <%= link_to "Upload via Facebook", upload_facebook_path%>
                <% end %>
              </ul>
            </li>

          <li id="fat-menu" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <%= current_user.name%> <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "Invite Friends", find_friends_path %></li>
            <li><%= link_to "Find Friends", '/find/facebook' %></li>
            <li class = "divider"></li>
            <li><%= link_to "Boxes", current_user %></li>
            <li><%= link_to "Pins", '#'%></li>
            <li><%= link_to "Likes",'#'%></li>
            <li class="divider"></li>
            <% if current_user.admin? %>
              <li><%= link_to "Admin" ,admin_path %></li>
            <li class="divider"></li>
          <%end%>
            <li><%= link_to "Settings", edit_user_path(current_user) %></li>
            <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
          </ul>
          </li>
        <% else %>
            <li><%= link_to "Sign in", signin_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>
